
body {
    background-image: url("https://sdz-upload.s3.amazonaws.com/prod/upload/test1.jpeg");
    background-repeat: 1;
  }

h1 {text-align: center; 
    color: whitesmoke;
  font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}  

    p{text-align: center;
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{text-align: center;
font-size: 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

a{color: black}


a
{
display:block;
text-align:center;
}

a:link, a:visited {
  background-color: #2e302e
;
  color:whitesmoke;
  padding: 20px 150px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif; ;

  
}

a:hover, a:active {
  background-color: #1c1f1c;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto }
